<div class="bicycle">
  <div class="bicycle__image">
    <img src="/<%IMAGE%>" alt="<%NAME%>" />
  </div>

  <div class="bicycle__name">
    <a href="/bicycle?id=<%ID%>"><%NAME%></a>
  </div>

  <div class="bicycle__rating">
    <span class="fa fa-star <%STAR%>"></span>
    <span class="fa fa-star <%STAR%>"></span>
    <span class="fa fa-star <%STAR%>"></span>
    <span class="fa fa-star <%STAR%>"></span>
    <span class="fa fa-star <%STAR%>"></span>
  </div>

  <div class="bicycle__price">
    <p class="current_price"><%NEWPRICE%></p>
    <p class="old_price"><%OLDPRICE%></p>
  </div>

  <%DISCOUNT%>
</div>
